@model BoardGameStore.Models.Rental

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h1 class="text-center">Rent Board Game</h1>
    <div class="card">
        <img src="@Model.BoardGame.ImageUrl" alt="@Model.BoardGame.Title" class="small-image">
        <div class="card-body">
            <h5 class="card-title">@Model.BoardGame.Title</h5>
            <div class="form-group mt-3">
                <label for="rentalEndDate">End Date</label>
                <input type="date" id="rentalEndDate" name="RentalEndDate" class="form-control" required>
            </div>
            <p class="card-text">
                <strong>Price:</strong> $@Model.BoardGame.PurchasePrice<br>
                <strong>Description:</strong> @Model.BoardGame.Description<br />
                <strong>Quantity:</strong> @Model.BoardGame.Quantity<br />
            </p>
            <form asp-action="ConfirmRental" asp-controller="Rental" method="post">
                <input type="hidden" name="BoardGameId" value="@Model.BoardGameId" />
                <button type="submit" class="btn btn-success">Confirm Rental</button>
                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
@*<h1>@Model.BoardGame.Title</h1>*@

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoardGame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
*@
@* @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardGame.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RentalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RentalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RentalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@