@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@
@model IEnumerable<BoardGameStore.Models.BoardGame> 

@{
    ViewData["Title"] = "Board Games";
}

@{
    ViewData["Title"] = "Rental";
}

<div class="container mt-4">
    <h1 class="text-center">Board Games</h1>
    <div class="row">
        @foreach (var boardGame in Model)
        {
            <div class="col-md-4 mb-4" class="boardgame-container">
                <div class="card">
                    <!-- Replace 'boardGame.ImageUrl' with the property storing the image path -->
                    <img class="card-img-top" src="@boardGame.ImageUrl" alt="@boardGame.Title";">
                    <div class="card-body">
                        <h5 class="card-title">@boardGame.Title</h5>
                        <p class="card-text">
                            <strong>Price:</strong> $@boardGame.PurchasePrice
                        </p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <a asp-controller="Rentals" asp-action="Index" asp-route-boardGameId="@boardGame.BoardGameId"
                        asp-route-userId="@ViewBag.UserId" class="btn btn-primary">Rent</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
